# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
003-landing-page/node_modules

# testing
003-landing-page/coverage

# production
003-landing-page/build

# misc
003-landing-page/.DS_Store
003-landing-page/.env
003-landing-page/npm-debug.log
